#cotainer{
    
 text-transform: capitalize;
    height: 500px;
   margin: auto;
   display: block;
   
}
h1{

    background-image: linear-gradient(rgb(109, 109, 196),rgb(141, 148, 197));
    color: whitesmoke;
    text-align: center;
    width: 685px;
    margin: 0%;
}
textarea{

    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}
span{
    color: rgb(60, 60, 60);
    font-weight: bold;
    font-size: 39px;
}
